<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrm-bw374MuGcJ3fmrGm8p0vO5UaqEBU8&callback=initMap"></script> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <link rel="icon" href="./static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="./static/styles/stylesheet.css" />
    <script src="./static/index.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrm-bw374MuGcJ3fmrGm8p0vO5UaqEBU8&callback=initMap&v=weekly"
      async
    ></script>
  </body>

</html>